.welcome-container{
    background-color: transparent;
}
.seta-index{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 30px 0px;
    position: relative;
    z-index: 2;
    width: 96px;
    height: 74px;
    bottom: 40px;
    left: 12%;
    background: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    box-shadow: 4px 4px 4px 0px rgba(97, 96, 96, 0.2);
}
strong{
    color: white;
}
.box-mark{
    display: flex;
    
}
.box-mark img{
    margin-right: 10px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
}
.direito-bancario-escritorio {
    width: 100%;
    height: 70vh;
    background-image: url("../images/bank-back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.direito-bancario {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 76%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.direito-bancario-left {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 70%;
    width: 25%;
}

.direito-bancario-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    gap: 1rem;
}

.direito-bancario-right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.direito-bancario button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #008F14;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;

}

.direito-bancario a {
    text-decoration: none;

}

.direito-bancario img {
    width: 15px;
    height: 15px;
}

.direito-bancario h1 {
    margin-bottom: 10px;
    color: transparent;
    font-size: 60px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;

    width: 40%;

    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;

}

.direito-bancario-escritorio h1 {
    margin-bottom: 10px;
    color: transparent;
    font-size: 60px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    border-bottom: 1px solid white;
    width: 100%;
    border-color: #ceaa79;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;

}

.direito-bancario p {

    width: 100%;
    text-align: left;
    color: black;
    font-size: 17px;
}

@media (max-width: 600px) {

    .direito-bancario-escritorio {
        height: 100vh;
    }

    .direito-bancario {
        flex-direction: column;
        height: auto;
        gap: 0.8rem;
    }

    .direito-bancario-left {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;

    }

    .direito-bancario-left h1 {
        margin-top: 30px;
    }

    .direito-bancario-left a {
        width: 90%;

    }

    .direito-bancario-left button {
        display: none;
    }

    .pulsating-button img {
        margin-right: 15px;
    }

    .direito-bancario-right {
        width: 100%;
        height: auto;
        gap: 0.8rem;
    }

    .direito-bancario-right-box p {
        text-align: center;
    }

    .none {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .none img {
        width: 30px;
        height: 30px;
    }

    .none a {
        width: 100%;
        height: 60px;

    }

    .none button {
        width: 100%;
        height: 60px;
        font-size: 25px;
    }

}