* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da trilha */
}

::-webkit-scrollbar-thumb {
    background-color: #353333; /* Cor do indicador da barra de rolagem */

}

/* Firefox */
body {
    scrollbar-width: thin; /* Largura da barra de rolagem */
}

body {
    scrollbar-color: #888 #f1f1f1; /* Cor do indicador da barra de rolagem */
}
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 140px;
    width: 100vw;
    transition: height 0.3s, font-size 0.3s, background-color 0.3s;
    position: fixed;
    z-index: 10;
}


.hamburguer {
    display: none;
}

.menu {
    display: none;
    width: 100%;
    height: 100%;
}

header img {
    height: 300px;
    transition: 0.3s;
}

header.shrink {
    height: 91px;
    background-color: #112032;
}

header.shrink a {
    font-size: 20px;
}

header.shrink .logo {
    height: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnA {
    white-space: nowrap;

}

.btnA:hover {
    background-color: #f9f9f9;
    color: black;
    
}

.dropdown-content a {
    display: block;
    width: 200px;
    padding: 10px;
    color: #f9f9f9;
    background-color: #000000;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.dropdown-content {
    background-color: black;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    /* Defina a opacidade para 0 para esconder inicialmente */
    transition: opacity 0.5s;
    height: auto;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {

    gap: 1rem;
    visibility: visible;
    opacity: 1;
    /* Defina a opacidade para 1 para mostrar durante o hover */


}

.dropdown button {
    white-space: nowrap;
    background: none;
    border: none;
    color: rgb(244, 242, 238);
    text-decoration: none;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: bold;
}


.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 55%;
    color: rgb(244, 242, 238);
}

.options a {
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.options a:hover {
    border-bottom: 3px solid #f9f9f9;
    transition: 0.5s;
}


.options img:hover {
    filter: brightness(50%);

}

.options select:hover {
    border-bottom: 3px solid #bbbbbb;

}

.options a {
    color: rgb(244, 242, 238);
    text-decoration: none;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: bold;
}

.options img {
    height: 25px;
    width: 25px;

}

.escritorio {
    width: 100%;
    height: 100vh;
    background-image: url("../images/escritorio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}





body {
    width: 100%;
    background-color: #000000ce;

}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000ce;
}

.welcome {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 70%;
    height: 25%;
    transition: 0.5s;
    left: -100%;
    animation: slideFromLeft 2s forwards;

}

@keyframes slideFromLeft {
    to {
        left: 15%;
    }
}

.welcome button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #008F14;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;

}

.welcome a {
    text-decoration: none;

}

.welcome img {
    width: 15px;
    height: 15px;
}

.welcome h1 {
    margin-bottom: 10px;
    color: transparent;
    font-size: 60px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    border-bottom: 1px solid white;
    width: 40%;
    border-color: #ceaa79;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;

}


.welcome p {
    margin-bottom: 10px;
    width: 60%;
    text-align: left;
    color: #FFFFFF;
    font-size: 17px;
}

.valores {
    display: flex;
    width: 99.13vw;
    height: 35vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 33.3%;
    color: #333;
    text-align: center;

}

.container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container p {
    font-size: 15px;
    font-weight: bold;
    padding: 0 15%;
}

.container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #303030;
    padding: 10px;
}

.sobre {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    padding-top: 20px;

}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

}

.sobre-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;


}

.sobre-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.sobre h1 {
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 10px;
}

.sobre-container2 h3 {
    font-size: 30px;
    font-weight: bold;
    font-weight: 500;
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    

}

.sobre p {
    margin-bottom: 30px;
}

p {

    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
}

.sobre-container .card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 550px;
    height: 550px;
    border-radius: 20px;
    background-color: rgb(237, 237, 237);
    padding: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 46px;
    background: black; 
    border: none;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

.fake-box{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  99%; 
    background-color: #1c1c1c;
    height: 40px; 
    z-index: 100;
    border-radius: 8px;
    text-align: center;
  }
  
  .box::before
  {
    content: '';
    position: absolute;
    left: -20%;
    bottom: -300%; 
    width: 73%;
    height: 250%;
    background:linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    transform-origin: bottom right;
    animation: animate 8s linear infinite;
    z-index: -1;
  }
  .box::after
  { 
    left: -20%;
    bottom: -300%; 
    content: '';
    position: absolute;
    width: 73%;
    height: 250%;
    background:linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    transform-origin: bottom right;
    animation: animate 8s linear infinite;
    animation-delay:  -4s;
    z-index: -1;
  }
  .box:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.753),
    0 0 25px rgba(255, 255, 255, 0.753), 0 0 50px rgba(255, 255, 255, 0.753);
    transform: scale(1.05);
    animation: none;
  }
 
  @keyframes animate {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
  }
.imagem {
    width: 550px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("../images/yang.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.redes {
    display: flex;
    align-items: center;
}

.redes img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.areas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: rgb(237, 237, 237);
}

.areas button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    padding: 10px;
    background-color: #008F14;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;

}

.areas a {
    text-decoration: none;
}

button img {
    width: 15px;
    height: 15px;
}

.direitos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 250px;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 25%;
    color: #333;
    text-align: center;
    transition: 0.5s;
}

.container2:hover {
    transform: translateY(-5%);
}

.container2 h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container2 p {
    font-size: 15px;
    font-weight: bold;
    padding: 0 15%;

}

.container2 img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: #303030;
    padding: 20px;
}

.areas h1 {
    font-size: 45px;
    line-height: 42px;
    font-weight: bold;
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 500;
    border-bottom: 2px solid #ceaa79;

}



.areas p {
    margin-top: 10px;
}

.fale-conosco-escritorio {
    width: 100%;
    height: 75vh;
    background-image: url("../images/escritorio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}

.fale-conosco {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 42, 42, 0.867);
    
}

.fale-conosco-left {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 60%;
    height: 90%;
}


.fale-conosco-left-div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 80%;
    height: 80%;

}

.fale-conosco form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
}

.fale-conosco h1 {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 42px;
    font-weight: 700;
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
}

.fale-conosco p {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
}

.fale-conosco input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #b6b4b46d;
    border-color: 1px solid #54595f;
    outline: none;

    color: white;
}

.fale-conosco textarea {
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #b6b4b46d;
    border-color: 1px solid #54595f;
    outline: none;
    
    color: white;
    resize: vertical;

    overflow: hidden;

    box-sizing: border-box;
}

.fale-conosco-right {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 80%;

}

.fale-conosco-right-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.fale-conosco-right-row img {
    width: 50px;
    height: 50px;
}

.fale-conosco-redes {
    margin-left: 20px;
}

.fale-conosco-redes h2 {
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
}

.fale-conosco-redes p {

    color: white;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
}

.double-input {
    display: flex;

    width: 100%;
    justify-content: space-between;
}

 ::placeholder {
    color: rgba(255, 255, 255, 0.507);
    padding: 10px;
   
} 

footer {
    width: 100%;
    height: 70vh;
    background-color: #313131;
    color: white;
}
footer p{
    color: white;
}

.foot-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.foot-down {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-evenly;
    align-items: center;
   

}

.foot-down-left{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 43%;
    height: 100%;

    
}


.foot-down a {
    color: white;
    text-decoration: none;
}

.foot-up-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
  

}

.foot-up-right {
    
    width: 40%;
    height: 80%;
    

}

footer .left-locale {

    display: flex;
    width: 40%;
    padding-left: 20px;
   
    align-items: center;

}

.left-locale img {
    width: 20px;
    height: 20px;
}

footer img {
    width: 400px;
}

.pulsating-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    width: 43%;
}
.fake-box p{
    text-align: center;
    padding: 0;
}

/* Adicione a animação pulsante */
.pulsating-button:hover {
    animation: pulse 1s infinite;
}

#desenvolvido img {
    width: 30px;
    height: 30px;
}

#desenvolvido {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/* MEDIA QUERY */

@media (max-width: 600px) {
    .welcome {
        position: static;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .welcome p {
        width: 80%;
    }

    .welcome button {
        width: 100%;
        padding: 15px;
    }
    

    .welcome h1 {
        width: 80%;
    }

    .valores {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .valores .container {
        width: 100%;
        padding: 10px 0;
    }

    .sobre {
        width: 100%;
        height: 200vh;
    }


    .sobre-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .sobre-container1 {
        width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }

    .sobre-container2 {
        height: 40%;
        width: 90%;
    }

    .sobre-container2 .card {
        height: 100%;
        
    }

    .sobre-container .imagem {
        width: 100%;
        height: 90%;
    }

    .areas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150vh;
        width: 100%;
        flex-direction: column;
    }



    .direitos-container {
        flex-direction: column;
        height: 80%;
    }

    .fale-conosco-escritorio {
        flex-direction: column;
        height: 120vh;
    }




    .fale-conosco {
        flex-direction: column;
        height: 120vh;

    }

    .fale-conosco-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        text-align: center;
    }

    .fale-conosco-left-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fale-conosco-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 30%;

    }
}

@media (max-width: 600px) {
    footer {
        width: 100%;
        height: 100vh;
    }

    .foot-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .foot-up-left {
        padding: 0;
        
        width: 100%;
        height: 100%;
    }
   
    footer .left-locale{
        padding-left: 0;
    }

    .foot-up-right {
        background-size: cover;
        width: 100%;
        margin: 0;
    }

    footer img {
        width: 100%;
        height: 300px;
    }

    .foot-down {
        height: 20vh;
        
    }
}

@media (max-width: 600px) {
    header {
        justify-content: space-around;

    }

    header .options {
        width: 100%;

    }

    header .logo {
        width: 80%;
        height: auto;
    }


    .hamburguer {
        display: block;
    }

    #header-grande {
        display: none;
    }

    .options a {
        font-size: 18px;
    }
    .pulsating-button{
        padding: 0;
        
    }
    .dropbtn{
        padding: 0;
    }
    .sobre p {
        margin-bottom: 0;
    }
    .fale-conosco-left-div{
        width: 100%;
    }
    .fale-conosco-right{
        display: flex;
        width: auto;
        padding: 20px;
        gap: 2rem;
    }
    .foot-down{
        flex-direction: row;
        padding: 10px;
        width: auto;
    }
    .areas h1{
        font-size: 40px;
    }
    
}






/* FIM MEDIA QUERY */

