* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 140px;
    width: 100%;
    transition: height 0.3s, font-size 0.3s, background-color 0.3s;
    position: fixed;
    z-index: 10;
}


.hamburguer {
    display: none;
}

.menu {
    display: none;
}

header img {
    height: 300px;
    transition: 0.3s;
}

header.shrink {
    height: 91px;
    background-color: #000000;
    opacity: 0.9;
}

header.shrink a {
    font-size: 20px;
}

header.shrink .logo {
    height: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.btnA {
    white-space: nowrap;

}

.btnA:hover {
    background-color: #ffffffa6;
    padding: 10px 0px;
    color: black;
}

.dropdown a {
    display: block;
    margin-top: 20px;
    gap: 1rem;

}

.dropdown-content {
    background-color: black;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    /* Defina a opacidade para 0 para esconder inicialmente */
    transition: opacity 0.5s;
    height: auto;
}

.dropdown:hover .dropdown-content {

    gap: 1rem;
    visibility: visible;
    opacity: 1;
    /* Defina a opacidade para 1 para mostrar durante o hover */


}

.dropdown button {
    white-space: nowrap;
    background: none;
    border: none;
    color: rgb(244, 242, 238);
    text-decoration: none;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: bold;
}


.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 55%;
    color: rgb(244, 242, 238);




}

.options a {
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.options a:hover {

    border-bottom: 3px solid #bbbbbb;
    transition: 0.5s;


}


.options img:hover {
    filter: brightness(50%);

}

.options select:hover {
    border-bottom: 3px solid #bbbbbb;

}

.options a {
    color: rgb(244, 242, 238);
    text-decoration: none;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: bold;
}

.options img {
    height: 25px;
    width: 25px;

}

.escritorio {
    width: 100%;
    height: 100vh;
    background-image: url("./escritorio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body {
    width: 100%;
    background-color: #000000ce;

}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000ce;
}

.welcome {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 70%;
    height: 25%;
    transition: 0.5s;
    left: -100%;
    animation: slideFromLeft 2s forwards;

}

@keyframes slideFromLeft {
    to {
        left: 15%;
    }
}

.welcome button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #008F14;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;

}

.welcome a {
    text-decoration: none;

}

.welcome img {
    width: 15px;
    height: 15px;
}

.welcome h1 {
    margin-bottom: 10px;
    color: transparent;
    font-size: 60px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    border-bottom: 1px solid white;
    width: 30%;
    border-color: #ceaa79;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;

}


.welcome p {
    margin-bottom: 10px;
    width: 60%;
    text-align: left;
    color: #FFFFFF;

    font-size: 17px;
}

.valores {
    display: flex;
    width: 99.13vw;
    height: 35vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 33.3%;
    color: #333;
    text-align: center;

}

.container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container p {
    font-size: 15px;
    font-weight: bold;
    padding: 0 15%;
}

.container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #303030;
    padding: 10px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.sobre-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;


}

.sobre-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.sobre h1 {
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
}

.sobre-container2 h3 {
    font-size: 30px;
    font-weight: 700;
    color: #19275D;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;

}

p {

    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
}

.sobre-container .card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border-radius: 20px;
    background-color: rgb(237, 237, 237);
    padding: 20px;
}

.imagem {
    width: 700px;
    height: 700px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("https://scontent.fbsb20-1.fna.fbcdn.net/v/t1.6435-9/175199999_3758199220964471_943896496701512476_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=7f8c78&_nc_eui2=AeH-n2GMh88t9DKcLe42vGrP3y0smLH5BCzfLSyYsfkELLWLZDLCKGeeKrHpEPA6pzv6dmZat9HZKHB3gGcy0qRS&_nc_ohc=vbfw-XpDOgMAX_wH5MN&_nc_ht=scontent.fbsb20-1.fna&oh=00_AfC7nhKlr7dzIYZOkEo9y3warKWInEGMapdlhroVEfvMdg&oe=65942C3A");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.redes {
    display: flex;
    align-items: center;
}

.redes img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.areas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: rgb(237, 237, 237);
}

.areas button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    padding: 10px;
    background-color: #008F14;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
}

button img {
    width: 15px;
    height: 15px;
}

.direitos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 250px;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 25%;
    color: #333;
    text-align: center;
}

.container2 h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container2 p {
    font-size: 15px;
    font-weight: bold;
    padding: 0 15%;
}

.container2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #303030;
    padding: 20px;
}

.areas h1 {
    font-size: 45px;
    line-height: 42px;
    font-weight: 700;
    color: #19275D;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    border-bottom: 1px solid #ceaa79;

}



.areas p {
    margin-top: 10px;
}

.fale-conosco-escritorio {
    width: 100%;
    height: 75vh;
    background-image: url("./escritorio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}

.fale-conosco {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 42, 42, 0.867)
}

.fale-conosco-left {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 60%;
    height: 90%;
}


.fale-conosco-left-div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 80%;
    height: 80%;

}

.fale-conosco form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
}

.fale-conosco h1 {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 42px;
    font-weight: 700;
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 174, 174), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
}

.fale-conosco p {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
    font-weight: 400;
}

.fale-conosco input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #b6b4b46d;
    border-color: 1px solid #54595f;
    outline: none;

    color: white;
}

.fale-conosco textarea {
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #b6b4b46d;
    border-color: 1px solid #54595f;
    outline: none;

    color: white;
    resize: vertical;

    overflow: hidden;

    box-sizing: border-box;
}

.fale-conosco-right {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 80%;

}

.fale-conosco-right-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.fale-conosco-right-row img {
    width: 50px;
    height: 50px;
}

.fale-conosco-redes {
    margin-left: 20px;
}

.fale-conosco-redes h2 {
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
}

.fale-conosco-redes p {

    color: white;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.48) 5px 4px 10px;
}

.double-input {
    display: flex;

    width: 100%;
    justify-content: space-between;
}

.fale-conosco button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border-color: 1px solid #54595f;
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.507);
    padding: 10px;
    /* Substitua com a cor desejada */
}

footer {
    width: 100%;
    height: 70vh;
    background-color: #000000;
    color: white;
}

.foot-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.foot-down {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;

}

.foot-down a {
    color: white;
    text-decoration: none;
}

.foot-up-left {
    display: flex;

    align-items: start;
    flex-direction: column;
    width: 50%;
    height: 60%;
    padding-left: 250px;

}

.foot-up-right {
    width: 50%;
    height: 80%;
    background-image: url("./aracaju.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px;
}

footer .left-locale {

    display: flex;
    width: 100%;
    padding-left: 25px;
    align-items: center;

}

.left-locale img {
    width: 20px;
    height: 20px;
}

footer img {
    width: 400px;

}

.pulsating-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}

/* Adicione a animação pulsante */
.pulsating-button:hover {
    animation: pulse 1s infinite;
}

#desenvolvido img {
    width: 30px;
    height: 30px;
}

#desenvolvido {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/* MEDIA QUERY */

@media (max-width: 600px) {
    .welcome {
        position: static;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .welcome p {
        width: 80%;
    }

    .welcome button {
        width: 70%;
    }

    .welcome h1 {
        width: 80%;
    }

    .valores {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .valores .container {
        width: 100%;
        padding: 10px 0;
    }

    .sobre {
        width: 100%;
        height: 200vh;
    }


    .sobre-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .sobre-container1 {
        width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }

    .sobre-container2 {
        height: 40%;
        width: 90%;
    }

    .sobre-container2 .card {
        height: 100%;
    }

    .sobre-container .imagem {
        width: 100%;
        height: 90%;
    }

    .areas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150vh;
        width: 100%;
        flex-direction: column;
    }

    .direitos-container {
        flex-direction: column;
        height: 80%;
    }

    .fale-conosco-escritorio {
        flex-direction: column;
        height: 120vh;
    }

    .fale-conosco {
        flex-direction: column;
        height: 120vh;

    }

    .fale-conosco-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        text-align: center;
    }

    .fale-conosco-left-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fale-conosco-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 30%;

    }
}

@media (max-width: 600px) {
    footer {
        width: 100%;
        height: 100vh;
    }

    .foot-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .foot-up-left {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .foot-up-right {
        width: 90%;
        margin: 0;
    }

    footer img {
        width: 100%;
        height: 300px;
    }

    .foot-down {
        height: 20vh;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    header {
        justify-content: start;

    }

    header .options {
        width: 100%;

    }

    header .logo {
        width: 80%;
        height: auto;
    }


    .hamburguer {
        display: block;
    }

    #header-grande {
        display: none;
    }

    .options a {
        font-size: 12px;
    }
}




/* FIM MEDIA QUERY */